# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=planning_poker

# Configurações da Aplicação
NODE_ENV=development
PORT=3001

# Configurações de Segurança
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h
